## -*- coding: utf-8 -*-
<%namespace name="helper" file="index_helper.tmpl"/>
<%namespace name="disqus" file="disqus_helper.tmpl"/>
<%inherit file="base.tmpl"/>
<%block name="content">
    <div class="postbox" id="intro">
       <h1>Weekly updates on the activities of the community.</h1>
       <p>
          This week in Fedora is providing weekly news about the activities of
          the contributors to the <a href="http://fedoraproject.org" >Fedora project</a>
          using the information collected by <a href="http://fedmsg.com">fedmsg</a>
          and made available via <a href="https://apps.fedoraproject.org/datagrepper/">datagrepper</a>.
       </p>

      <a href="assets/evolution.svg">
         <embed src="assets/evolution.svg" type="image/svg+xml"
          alt="Graph of the evolution of the activities over time"/>
      </a>

    </div>
    % for post in posts:
        <div class="postbox">
        <h1><a href="${post.permalink()}">${post.title()}</a></h1>
            <div class="meta" style="background-color: rgb(234, 234, 234); ">                    
                <span class="authordate">
                    ${messages("Posted")}: ${post.formatted_date(date_format)}
                </span>
            </div>
        ${post.text(teaser_only=index_teasers)}
        </div>
    % endfor
    ${helper.html_pager()}
    ${disqus.html_disqus_script()}
</%block>
